<h1>Editando cliente</h1>

{{#with customerId}}

  <table>
    <form action="/api/customers/edit/{{_id}}" method="POST">

      <div><div>Nombre:</div><input type="text" id="fname" name="fname" value="{{fname}}"/></div>
      <div><div>Apellido:</div><input type="text" name="lname" id="lname" value="{{lname}}"/></div>
      <div><div>DNI:</div><input type="number" name="dni" id="dni" value="{{dni}}"/></div>
      <div><div>Direccion:</div><input type="text" name="address" id="address" value="{{address}}"/></div>
      <div><div>Numero de direccion:</div><input type="number" name="numAddress" id="numAddress" value="{{numAddress}}"/></div>
      <div><div>Codigo postal</div><input type="number" name="postalNum" id="postalNum" value="{{postalNum}}"/></div>
      
      <div><button class="btn btn-success" type="submit">Enviar</button></div>
      

    </form>
    
   
        <form action="/api/customers/delete/{{_id}}" method="POST">
            <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
        </form>
    
    

  </table>

{{/with}}

<a class="btn btn-secondary btn-sm" role="button" href="/api/customers">Volver</a>